

.home {
  min-height: 100vh;
  display:flex;
    flex-wrap:wrap;
    min-height:100vh;
    align-items:center;
    background-position: center;
  background-size:cover;
  position:relative;
  background:#ECECEC;
  padding: 2px 9%;
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  min-height:100vh;
  align-items:center;
  color:black;
  background-position: center;
  
}

.h1 {
  font-size:55px;
  color:black;
  font-weight:bold;
}



.h4 {
  font-weight:100;
  color:lightgrey;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
